html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Raleway', sans-serif;
  }

  /* Utilidades */
.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.bg-header{
  background-image: url('../IMAGES/bg-header-min.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  height: 18.75em;
}